.sidebar{

}

.box {
	height: 135px;
	width: 175px;
	float: left;
	color: white;
	margin: 4px;
}

.sort-by-views, .sort-by-title, .show-comics, .show-clothes {
	border: 1px solid black;
	cursor: pointer;
	width: 175px;

	text-align: center;
}